<html>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
    <body>
        <main>
            <div id="app-8">
                <form class="search" id="search">
                    <input placeholder="Enter search term or RegEx"/>
                    <button>Search</button>
                </form>
                <section class="navigation">
                    <p>Viewing article {{ currentArticleIndex + 1 }} of {{ totalArticles }}</p>
                    <div>
                        <button v-on:click="prevArticle"><</button>
                        <button v-on:click="nextArticle">></button>
                    </div>
                </section>
                <section class="wrapper">
                <div class="editor">
                    <h3>Original Version</h3>
                    <p><pre>{{ filteredArticles[currentArticleIndex] }}</pre></p>
                </div>
                <div class="divider"></div>
                <div class="editor">
                    <h3>Edited Version</h3>
                    <textarea name="editor" id="" cols="30" rows="100">{{ filteredArticles[currentArticleIndex] }}</textarea>
                </div>
                </section>
            </div>

            <div id="app">
                {{ message }}
            </div> 

            <div id="app-2">
                <span v-bind:title="message">
                    Hover your mouse over me for a few seconds
                    to see my dynamically bound title!
                </span>
            </div>

            <div id="app-3">
                <span v-if="seen">Now you see me</span>
            </div>

            <div id="app-4">
                <ol>
                    <li v-for="todo in todos">{{ todo.text }}</li>
                </ol>
            </div>

            <div id="app-5">
                <p>{{ message }}</p>
                <button v-on:click="reverseMessage">Reverse Message</button>
            </div>

            <div id="app-6">
                <p>{{ message }}</p>
                <input v-model="message">
            </div>

            <div id="app-7">
                <ol>
                    <!--
                    Now we provide each todo-item with the todo object
                    it's representing, so that its content can be dynamic.
                    We also need to provide each component with a "key",
                    which will be explained later.
                    -->
                    <todo-item
                        v-for="item in groceryList"
                        v-bind:todo="item"
                        v-bind:key="item.id">
                    </todo-item>
                </ol>
            </div>
        </main>
        <script src="index.js" charset="UTF-8"></script>
    </body>
</html>